body {
		background-image: url("resources/background.jpg");
		background-size: 100%
}

@font-face {
font-family: "table";
src: url("fonts/table.ttf");
src:
url('fonts/table.ttf') format('truetype');
}


@font-face{
font-family: "heading";
src: url("fonts/heading.otf");
src: 
url("fonts/heading.otf") format("opentype");
}


h1 {
    color: navy;
    font-family: 'heading';
}
button{
	display: inline;
    float: right;
    font-family: 'table';
}

#ent{
	float: center;
	width: 50%;
	 display: block;
}

